body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background: #f8f7f0;
}
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 10px dotted #ccc; /* Кружевная рамка в виде точек */
    border-radius: 15px; /* Скругленные углы */
    pointer-events: none; /* Чтобы рамка не мешала взаимодействию с контентом */
    z-index: 9999; /* Рамка поверх всего */
}
.hidden {
    display: none;
}

#app {
    margin-top: 100px;
}

h1, h2 {
    color: #333;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #b08d4d;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 10px;
}

button:hover {
    background-color: #828282;
}

#name-options {
    margin: 20px;
}

#name-options button {
    display: block;
    margin: 10px auto;
    width: 200px;
}

/* Стили для картинки */
#employee-photo {
    width: 320px; /* Ширина изображения */
    height: 320px; /* Высота изображения */
    object-fit: cover; /* Обрезка изображения по контейнеру */
    border-radius: 10px; /* Закругленные углы */
    border: 5px solid #ccc; /* Обводка */
    margin: 20px auto; /* Центровка */
    display: block; /* Блоковый элемент для центрирования */
}


#result-screen {
    text-align: center;
}

#result-image {
    display: block;
    margin: 0 auto;
    height: 300px;
    width: 450px;
}

#restart-test {
    display: inline-block;
    margin-top: 20px;
}

.images__com{
    margin-bottom: 40px;
}
@media (max-width:850px) {
    .images__com{
    height: 100px;
        width: 400px;
    }
    #employee-photo{
        width: 200px; /* Ширина изображения */
        height: 200px; /* Высота изображения */
        object-fit: cover; /* Обрезка изображения по контейнеру */
        border-radius: 10px; /* Закругленные углы */
        border: 5px solid #ccc; /* Обводка */
        margin: 20px auto; /* Центровка */
        display: block; /* Блоковый элемент для центрирования */
    }
    
#result-image {
    display: block;
    margin: 0 auto;
    height: 200px;
    width: 350px;
}
}