body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background: #f8f7f0;
}
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 10px dotted #ccc; /* Кружевная рамка в виде точек */
    border-radius: 15px; /* Скругленные углы */
    pointer-events: none; /* Чтобы рамка не мешала взаимодействию с контентом */
    z-index: 9999; /* Рамка поверх всего */
}
.hidden {
    display: none;
}

#app {
    margin-top: 30px;
}
#welcome-screen{
    margin-top: 100px;
}

h1, h2 {
    color: #333;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #b08d4d;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 10px;
    min-width: 320px;
    min-height: 20px;
}

button:hover {
    background-color: #828282;
}

#start-test.button_by {
    padding: 10px 30px;
    font-size: 18px;
    cursor: pointer;
    background-color: #b08d4d;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 10px;
    min-width: 10px; /* Ширина кнопки */
    min-height: 30px; /* Высота кнопки */
}
#start-test.button_by:hover{
    background-color: #828282;
}

#restart-test.button_by {
    padding: 10px 30px;
    font-size: 17px;
    cursor: pointer;
    background-color: #b08d4d;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 15px;
    min-width: 10px; /* Ширина кнопки */
    min-height: 30px; /* Высота кнопки */
}

#restart-test.button_by:hover{
    background-color: #828282;
}



#name-options {
    margin: 20px;
    display: flex;
    flex-direction: column; /* Выстраиваем кнопки вертикально */
    align-items: center; /* Центрируем кнопки */
}

#name-options button {
    display: block;
    margin: 7px 0; /* Расстояние между кнопками */
    width: 100%; /* Ширина кнопок адаптируется к родительскому элементу */
    max-width: 300px; /* Максимальная ширина кнопок */
    min-height: 40px; /* Минимальная высота кнопки */
    word-wrap: break-word; /* Разрывает длинные слова */
    text-align: center; /* Центрируем текст внутри кнопок */
}

#employee-photo {
    width: 320px; /* Ширина изображения */
    height: 320px; /* Высота изображения */
    object-fit: cover; /* Обрезка изображения по контейнеру */
    border-radius: 10px; /* Закругленные углы */
    border: 5px solid #ccc; /* Обводка */
    margin: 20px auto; /* Центровка */
    display: block; /* Блоковый элемент для центрирования */
    max-width: 100%; /* Картинка будет адаптироваться к размеру экрана */
}



#result-screen {
    text-align: center;
}

#result-image {
    display: block;
    margin: 0 auto;
    height: 300px;
    width: 450px;
}

#restart-test {
    display: inline-block;
    margin-top: 20px;
}

.split-button {
    width: 100px;
    height: 50px; /* Увеличена высота для двух частей */
    border: none;
    padding: 0;
    cursor: pointer;
    display: block;
    background: none;
    position: relative;
    border-radius: 10px; /* Добавляем закругления для всей кнопки */
    overflow: hidden; /* Чтобы дочерние элементы не выходили за пределы кнопки */
}

.split-button .top,
.split-button .bottom {
    position: absolute;
    width: 100%;
    height: 50%;
    left: 0;
}

.split-button .top {
    top: 0;
    background-color: #b08d4d; /* Карамельный цвет #b08d4d */
    color: white;
    border-bottom: 1px solid white; /* Линия между частями */
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 14px;

}

.split-button .bottom {
    bottom: 0;
    background-color: #cfbc8b; /* Серый фон для должности */
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.split-button div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.screen.hidden {
    display: none;
}



#timer {
    position: fixed;
    top: 10px;
    right: 30px;
    font-size: 1.5em;
    color: black;
    padding: 10px;
    border-radius: 5px;
    display: none;
}
#result-screen{
    margin-top: 100px;
}
.images__com{
    margin-bottom: 40px;
}
@media (max-width:850px) {
    .images__com{
    height: 100px;
        width: 400px;
    }
    #employee-photo{
        width: 200px; /* Ширина изображения */
        height: 200px; /* Высота изображения */
        object-fit: cover; /* Обрезка изображения по контейнеру */
        border-radius: 10px; /* Закругленные углы */
        border: 5px solid #ccc; /* Обводка */
        margin: 20px auto; /* Центровка */
        display: block; /* Блоковый элемент для центрирования */
    }
    
#result-image {
    display: block;
    margin: 0 auto;
    height: 200px;
    width: 350px;
}
}